.header-container {
  display: flex;
  height: 120px;
  background-color: #f09715;
  flex-direction: column;
  z-index: 1;
}

#image-logo {
  width: 120px;
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-right: 50px;
  background-color: #f09715;
  border: 0px;
  font-size: 1.1em;
}

.header-button:hover {
  background-color: #d28311;
  color: white;
  font-size: 1.2em;
}

.header-button-left {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-left: 50px;
  background-color: rgb(240, 151, 21);
  border: 0px;
  font-size: 1.1em;
}

.header-button-left:hover {
  background-color: #d28311;
  color: white;
  font-size: 1.2em;
}

.header-part-two {
  display: flex;
}

.hero-section {
  background-image: url(./images/esfirra-soja.jpeg);
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-hero {
  display: flex;
  color: #d28311;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(81, 47, 38, 0.8);
  width: 300px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 400px;
  margin-right: 50%;
}

.products-section {
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 10px;
  width: 450px;
  height: 450px;
  background-color: white;
}

.Cardapio-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(235 235 235);
}

.image-products {
  border-radius: 10px;
}

.main-container {
  background-color: rgb(235 235 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pizza-image-products {
  width: 200px;
  border-radius: 10px;
}

.products-section-pizzas {
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 10px;
  width: 450px;
  height: 270px;
  background-color: white;
}